:root {
    --primary-color: #0066e7;
    --secondary-color: #8aa3c3;
    --accent-color: #feca18;
    --border-color: #090909;
    --background-color: #fefefe;
}

/*Summary Section Styling */
.summary {
    margin: 20px 0;
    padding: 0 20px;

    justify-self: center;
    width: 80%;
}

/*Portfolio Section Styling*/
.portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
    margin: 30px 0;
}

.project-card {
    background-color: var(--background-color);
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px var(--secondary-color);
    margin: 10px;
    display: flex;
    flex-direction: column;

    width: 200px;
    padding: 10px;

    .project-title {
        justify-content: center;
    }

    p {
        color: var(--border-color);
    }

    img {
        /* height: 6em; */
        width: 6em;
        margin: 0 auto;
    }
}

.project-body {
    display: grid;
    grid-template-rows: min-content;
    height: 100%;
    img {
        /* height: 20px; */
        width: 20px;
        margin-right: 2px;
        align-self: center;
    }

    .links {
        align-content: end;

        a {
            text-decoration: none;
            color: var(--border-color);
        }

        a:hover {
            color: var(--accent-color);
        }
    }
}


/*Skills Section Styling*/
.skills-list {
    margin: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.skill {
    display: flex;
    gap: 10px;
}

/* Message Section */
.message {
    background-color: var(--primary-color);
    border-radius: 20px;
    padding: 10px;
    margin: 0 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: auto;
    justify-content: center;
}

/* Contact card area */
.contact-card {
    width: min-content;
    display: grid;
    justify-items: center;

    padding: 0 2rem;
}

.contact-image {
    width: 150px;
    border-radius: 50%;
    margin: 20px;
}

.contact-links {
    display: grid;
    gap: 10px;
}

.link-container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-items: center;
    column-gap: 5px;

    a {
        color: var(--background-color);
        text-decoration: none;
    }

    a:hover {
        color: var(--accent-color);
    }
}

.footer-icon {
    width: 50px;
}

/* Form area */
form {
    padding: 25px;

    display: grid;
    justify-items: center;
    row-gap: 20px;


    p {
        text-align: center;
        font-size: 2rem;
        flex-wrap: wrap;
        margin: 10px;
        color: var(--background-color);
    }
}

/* message heading */
.message-heading {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
}

.message-input {
    padding: 10px;
    display: flex;
    align-items: center;

    label {
        margin: 5px;
        font-size: 1.2rem;
        color: var(--background-color);
    }

    input {
        margin: 5px;
        border-radius: 5px;
        border: 1px solid var(--secondary-color);
        font-size: 1.2rem;

        outline-color: var(--secondary-color);
    }
}

/* textarea */
textarea {
    height: 150px;
    min-width: 100%;
    box-sizing: border-box;
    line-height: 1.5;
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    padding: 5px;
    font-size: 1.2rem;
    color: var(--border-color);
    resize: none;

    outline-color: var(--secondary-color);
}

/* Button */
button {
    background-color: var(--border-color);
    color: var(--background-color);
    border: 0;
    border-radius: 15px;
    padding: 5px 10px;

    font-size: 1.2rem;
}

button:hover {
    background-color: var(--secondary-color);
    opacity: 80%;
}