@import url('https://fonts.googleapis.com/css2?family=Forum&family=Oswald:wght@200..700&display=swap');

:root {
    --primary-color: #0066e7;
    --secondary-color: #8aa3c3;
    --accent-color: #feca18;
    --border-color: #090909;
    --background-color: #fefefe;
}

* {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;

    margin: 0;
    padding: 0;
}

html::-webkit-scrollbar {
    width: 0;
}

.title {
    font-size: 3rem;
    text-align: center;
}

.subtitle {
    font-size: 2rem;
    text-align: center;
    margin: 10px 0;
}

/*App Body Styles*/
.wrapper {
    display: grid;
    grid-template-columns: min-content auto;
}

@media (width <=1090px) {
    .wrapper {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: min-content auto;
    }

    div.container.navigation {
        background-color: var(--primary-color);
        align-content: normal;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    nav.navbar {
        padding: 10px;
        margin: 0 10px;

        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            justify-content: center;
        }

        li {
            color: var(--background-color);
            list-style: none;
            font-size: 1.4rem;
            margin: 5px;
        }

        li:hover {
            color: var(--accent-color);
        }
    }

    main.main-container {
        align-content: normal;
    }

    .message {
        background-color: var(--background-color);
        border: 0;
    }

    .link-container {
        a {
            color: var(--border-color);
            text-decoration: none;
        }
    }


    form>p {
        color: var(--border-color);
    }

    .message-input>label {
        color: var(--border-color);
    }
}

.navigation-container {
    background-color: var(--primary-color);
    display: grid;
}

.main-container {
    height: 100vh;
    background-color: var(--background-color);
    display: grid;
    align-content: center;
}

section {
    background-color: var(--background-color);
    height: min-content;
}

.container {
    color: var(--border-color);
    display: grid;
    justify-content: center;
    align-content: center;
    width: auto;
}

p {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}

/* Navbar*/
.navbar {
    padding: 0 10px;
    justify-items: center;

    align-self: center;

    li {
        font-size: 2rem;
        color: var(--background-color);
    }

    li:hover {
        color: var(--accent-color);
        cursor: pointer;
    }
}